<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>easy sell</title>
		<link rel="icon" href="./img/easy sell icon.png">
		<link rel="stylesheet" href="./css/login.css" />
	</head>
	<body>
		<div>
			<div class="login-box">
				<a class="signup" href="/">signup</a>
				<p class="login-text">login</p>
				<form action="/login/easysell" method="post">
					<div>
						<input
							type="text"
							name="username"
							id="username" 
							placeholder="Enter your username"
							required
						/>

						<input
							type="password"
							name="password"
							id="password"
							placeholder="Enter your password"
							required
						/>
					</div>
					<div>
						<button id="submit" type="submit">login</button>
						<button id="reset" type="reset">reset</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
