*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #65903d;
    background-image: url("../img/log-in_bg.svg");
    background-size: 385px;
}

.login-box {
    margin: 20vh 0 0 36vw;
    width: 30vw;
    height: 45vh;
    background-color: #1fbc58;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 15px 15px 10px 10px #274532;
    opacity: .9;
}
.signup {
    text-decoration: none;
    font-size: 150%;
    margin: 1vh 0 0 23vw;
    color: black;
    font-style: italic;
    text-shadow: 6px 6px 3px rgb(18, 61, 35);
}
.login-text {
    font-size: 250%;
    margin: 1vh 0 0 11vw;
    font-style: italic;
    text-shadow: 6px 6px 3px rgb(18, 61, 35);
}

.login-box form div input {
    background-color:#03fa5a;
    margin: 4vh 0 0 6vw;
    width: 18vw;
    height: 4vh;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 10px #274532;
}
.login-box form div button {
    background-color:#03fa5a;
    width: 5vw;
    box-shadow: 10px 10px 15px 10px #274532;
}
#submit {
    margin: 5vh 0 0 7.5vw;
}
#reset {
    margin: 5vh 0 0 5vw;

} 